
<p-dataTable [value]="users">
  <p-header> List of aplication users</p-header>
  <p-column field="id" header="Id" [filter]="true" [style]="{'width':'50px'}" ></p-column>
  <p-column field="userName" header="User Name" [sortable]="true" [filter]="true" ></p-column>
  <p-column field="firstName" header="First name" [filter]="true" [style]="{'width':'150px'}" ></p-column>
  <p-column field="lastName" header="Last name" [filter]="true" [style]="{'width':'150px'}" ></p-column>
  <p-column field="contact" header="Contact Info" [filter]="true" [style]="{'width':'100px'}"></p-column>
  <p-column field="registrationDate" header="Registration Date" [style]="{'width':'100px'}" [sortable]="true" [filter]="true"></p-column>
  <p-column field="active" header = "Active" [style]="{'width':'50px'}">
    <ng-template let-user="rowData" pTemplate="body">
      <span *ngIf="user.active" > <i class="fa fa-unlock" (click)="blockUser(user)" ></i></span>
      <span *ngIf="!user.active" ><i class="fa fa-lock" (click)="unblockUser(user)"></i> </span>
       
    </ng-template>
</p-column>
</p-dataTable>
